In [99]:
import pandas as pd
import sys
df = pd.read_csv('../data/cereal.csv', index_col=0)
df.head(15)
pd.options.display.max_rows = 10

In [53]:
df.iloc[5:11]

,mfr,type,calories,protein,fat,sodium,fiber,carbo,sugars,potass,vitamins,shelf,weight,cups,rating
name,,,,,,,,,,,,,,,
Apple Cinnamon Cheerios,G,Cold,110,2,2,180,1.5,10.5,10,70,25,1,1.00,0.75,29.509541
Apple Jacks,K,Cold,110,2,0,125,1.0,11.0,14,30,25,2,1.00,1.00,33.174094
Basic 4,G,Cold,130,3,2,210,2.0,18.0,8,100,25,3,1.33,0.75,37.038562
Bran Chex,R,Cold,90,2,1,200,4.0,15.0,6,125,25,1,1.00,0.67,49.120253
Bran Flakes,P,Cold,90,3,0,210,5.0,13.0,5,190,25,3,1.00,0.67,53.313813
Cap'n'Crunch,Q,Cold,120,1,2,220,0.0,12.0,12,35,25,2,1.00,0.75,18.042851

In [100]:
df.loc[ : , "calories": "fiber"]

                           calories  protein  fat  sodium  fiber
name
100% Bran                        70        4    1     130   10.0
100% Natural Bran               120        3    5      15    2.0
All-Bran                         70        4    1     260    9.0
All-Bran with Extra Fiber        50        4    0     140   14.0
Almond Delight                  110        2    2     200    1.0
...                             ...      ...  ...     ...    ...
Triples                         110        2    1     250    0.0
Trix                            110        1    1     140    0.0
Wheat Chex                      100        3    1     230    3.0
Wheaties                        100        3    1     200    3.0
Wheaties Honey Gold             110        2    1     200    1.0

[77 rows x 5 columns]

In [103]:
df.loc[["Wheaties", "Trix", "Clusters"], ['type', 'rating', 'sugars']]

          type     rating  sugars
name
Wheaties  Cold  51.592193       3
Trix      Cold  27.753301      12
Clusters  Cold  40.400208       7

In [ ]:
df.iloc[]

In [ ]:
print(df.shape)

In [ ]:
df.length

In [ ]:
pandas_spec = importlib.util.find_spec("pandas") 
found = pandas_spec is not None

In [2]:
import importlib

In [ ]:
found

In [ ]:
pandas_spec

In [8]:
if "pandas" not in sys.modules:
    print('You have not imported the {} module'.format("pandas"))