In [2]:
import pandas as pd
import numpy as np

In [2]:

candybars = pd.read_csv('https://raw.githubusercontent.com/UBC-MDS/MCL-DSCI-511-programming-in-python/master/data/candybars.csv')
candybars.head()

,name,weight,chocolate,peanuts,caramel,nougat,cookie_wafer_rice,coconut,white_chocolate,multi,available_canada_america
0,Coffee Crisp,50,1,0,0,0,1,0,0,0,Canada
1,Butterfinger,184,1,1,1,0,0,0,0,0,America
2,Skor,39,1,0,1,0,0,0,0,0,Both
3,Smarties,45,1,0,0,0,0,0,0,1,Canada
4,Twix,58,1,0,1,0,1,0,0,1,Both

candybars = pd.read_excel('foods.xlsx', sheet_name='chocolate')
candybars

In [4]:
cereal_data = pd.read_csv('cereal.csv', index_col="name") # To use this in Jupyter lab, the data file must be in the same directory as the ipynb
cereal_data.head() # returns the first entries in the data fram according to the arguement
cereal_data.shape #prints the number of rows, cols

,mfr,type,calories,protein,fat,sodium,fiber,carbo,sugars,potass,vitamins,shelf,weight,cups,rating
name,,,,,,,,,,,,,,,
100% Bran,N,Cold,70,4,1,130,10.0,5.0,6,280,25,3,1.0,0.33,68.402973
100% Natural Bran,Q,Cold,120,3,5,15,2.0,8.0,8,135,0,3,1.0,1.00,33.983679
All-Bran,K,Cold,70,4,1,260,9.0,7.0,5,320,25,3,1.0,0.33,59.425505
All-Bran with Extra Fiber,K,Cold,50,4,0,140,14.0,8.0,0,330,25,3,1.0,0.50,93.704912
Almond Delight,R,Cold,110,2,2,200,1.0,14.0,8,1,25,3,1.0,0.75,34.384843

(77, 15)