In [1]:
import pandas as pd

In [3]:
df = pd.read_csv('../../data/cereal.csv', index_col=0)

In [4]:
df

,mfr,type,calories,protein,fat,sodium,fiber,carbo,sugars,potass,vitamins,shelf,weight,cups,rating
name,,,,,,,,,,,,,,,
100% Bran,N,Cold,70,4,1,130,10.0,5.0,6,280,25,3,1.0,0.33,68.402973
100% Natural Bran,Q,Cold,120,3,5,15,2.0,8.0,8,135,0,3,1.0,1.00,33.983679
All-Bran,K,Cold,70,4,1,260,9.0,7.0,5,320,25,3,1.0,0.33,59.425505
All-Bran with Extra Fiber,K,Cold,50,4,0,140,14.0,8.0,0,330,25,3,1.0,0.50,93.704912
Almond Delight,R,Cold,110,2,2,200,1.0,14.0,8,1,25,3,1.0,0.75,34.384843
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
Triples,G,Cold,110,2,1,250,0.0,21.0,3,60,25,3,1.0,0.75,39.106174
Trix,G,Cold,110,1,1,140,0.0,13.0,12,25,25,2,1.0,1.00,27.753301
Wheat Chex,R,Cold,100,3,1,230,3.0,17.0,3,115,25,1,1.0,0.67,49.787445
Wheaties,G,Cold,100,3,1,200,3.0,17.0,3,110,25,1,1.0,1.00,51.592193
Wheaties Honey Gold,G,Cold,110,2,1,200,1.0,16.0,8,60,25,1,1.0,0.75,36.187559

In [5]:
df = pd.read_csv('../../data/candybars.csv', index_col=0)

In [6]:
df.to_csv("candybars-sc.csv",sep=";")

In [11]:
df = pd.read_csv('../../data/cereal.csv', index_col=0)

In [15]:
df[df['mfr'] == "Q"]

,mfr,type,calories,protein,fat,sodium,fiber,carbo,sugars,potass,vitamins,shelf,weight,cups,rating
name,,,,,,,,,,,,,,,
100% Natural Bran,Q,Cold,120,3,5,15,2.0,8.0,8,135,0,3,1.0,1.00,33.983679
Cap'n'Crunch,Q,Cold,120,1,2,220,0.0,12.0,12,35,25,2,1.0,0.75,18.042851
Honey Graham Ohs,Q,Cold,120,1,2,220,1.0,12.0,11,45,25,2,1.0,1.00,21.871292
Life,Q,Cold,100,4,2,150,2.0,12.0,6,95,25,2,1.0,0.67,45.328074
Puffed Rice,Q,Cold,50,1,0,0,0.0,13.0,0,15,0,3,0.5,1.00,60.756112
Puffed Wheat,Q,Cold,50,2,0,0,1.0,10.0,0,50,0,3,0.5,1.00,63.005645
Quaker Oat Squares,Q,Cold,100,4,1,135,2.0,14.0,6,110,25,3,1.0,0.50,49.511874
Quaker Oatmeal,Q,Hot,100,5,2,0,2.7,1.0,1,110,0,1,1.0,0.67,50.828392

In [21]:
dfa = df[(df['mfr'] == "N") | (df['mfr'] == "Q")].loc[:,['mfr', 'rating']]
dfa

                          mfr     rating
name
100% Bran                   N  68.402973
100% Natural Bran           Q  33.983679
Cap'n'Crunch                Q  18.042851
Cream of Wheat (Quick)      N  64.533816
Honey Graham Ohs            Q  21.871292
Life                        Q  45.328074
Puffed Rice                 Q  60.756112
Puffed Wheat                Q  63.005645
Quaker Oat Squares          Q  49.511874
Quaker Oatmeal              Q  50.828392
Shredded Wheat              N  68.235885
Shredded Wheat 'n'Bran      N  74.472949
Shredded Wheat spoon size   N  72.801787
Strawberry Fruit Wheats     N  59.363993

In [23]:
dfa[dfa['mfr'] == "N"]

                          mfr     rating
name
100% Bran                   N  68.402973
Cream of Wheat (Quick)      N  64.533816
Shredded Wheat              N  68.235885
Shredded Wheat 'n'Bran      N  74.472949
Shredded Wheat spoon size   N  72.801787
Strawberry Fruit Wheats     N  59.363993